---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

\section{Teaching}
 \textit{GSI for Political Science 231b (Graduate):} \\ Quantitative Analysis and Causal Inference \hfill Spring 2024 \\
 
 \textit{GSI for Political Science 109/166 (Undergraduate):} \\ Latino/x/a Politics \hfill Spring and Fall 2023 \\
\\
 \textit{GSI for Political Science 5 (Undergraduate):} \\ Introduction to International Relations \hfill Fall 2022

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
